<div>
    <div>
        <div>
            <input type="text" v-model="url" @keyup.enter="search">
            <button type="button" name="button" v-on:click="search">Go</button>
        </div>
        <section>
            <button type="button" v-on:click="debug = true">show debug info</button>
        </section>
        <ul>
            <li v-for="link in links">
                <a :href="link.href">{{link.text.trim() || '无文字'}}</a>
            </li>
        </ul>
    </div>
    <div v-if="debug">{{content}}</div>
</div>
